<launch>

    <arg name="is_launch_audio_capture" default="true"/>

    <arg name="audio_topic" default="audio/audio"/>
    <arg name="is_record_topic" default="data_capture/is_record"/>
    <arg name="output_directory" default="/root/audio"/>

    <arg name="device" default=""/>
    <arg name="num_channels" default="1"/>
    <arg name="chunk_size" default="1024"/>
    <arg name="sample_rate" default="16000"/>
    <arg name="format" default="wave"/>

    <group if="$(eval is_launch_audio_capture)">
        <include file="$(find audio_capture)/launch/capture.launch">
            <arg name="device" default="$(arg device)"/>
            <arg name="channels" default="$(arg channels)"/>
            <arg name="sample_rate" default="$(arg sample_rate)"/>
            <arg name="format" default="$(arg format)"/>
            <arg name="ns" default="audio"/>
        </include>
    </group>

    <node pkg="audio_capture2" type="capture.py" name="audio_capture" output="screen"
        args="
            --audio-topic $(arg audio_topic)
            --is-record-topic $(arg is_record_topic)
            --output-directory $(arg output_directory)
            --num-channels $(arg num_channels)
            --chunk_size $(arg chunk_size)
            --sample_rate $(arg sample_rate)
            --format $(arg format)
        "
        />

</launch>
