<launch>

    <arg name="image_topic" default="camera/color/image_raw"/>
    <arg name="output_directory" default="/root/videos"/>
    <arg name="frames_per_second" default="30.0"/>

    <rosparam file="$(find video_capture)/config/config.yaml" command="load"/>
    <node pkg="video_capture" type="capture.py" name="video_capture" output="screen"
        args="--image-topic $(arg image_topic) --output-directory $(arg output_directory) --frames-per-second $(arg frames_per_second)"
        />

</launch>
