<launch>

    <arg name="instance_id" default="1"/>

    <rosparam file="$(find video_capture)/config/configuration.yaml" ns="/data_capture/$(arg instance_id)/" subst_value="True"/>

    <node pkg="video_capture" type="capture.py" name="video_capture_$(arg instance_id)" output="screen"
    args="
            --instance_id $(arg instance_id) 
        "
    />

</launch>
