<launch>

    <arg name="is_launch_audio_capture" default="true"/>
    <arg name="device" default=""/>
    <arg name="instance_id" default="1"/>

    <group if="$(eval is_launch_audio_capture)">
        <include file="$(find audio_capture)/launch/capture.launch">
            <arg name="device" default="$(arg device)"/>
            <arg name="ns" default="audio"/>
        </include>
    </group>

    <rosparam file="$(find audio_capture)/config/configuration.yaml" ns="/data_capture/$(arg instance_id)/" subst_value="True"/>

    <node pkg="audio_capture2" type="capture.py" name="$(anon audio_capture)_$(arg instance_id)" output="screen"
        args="
            --instance_id $(arg instance_id) 
        "
        />

</launch>
